body {background-color: #3B2458;
color: #f7f7fb;
text-align: center;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: large;}

ul{display: flex;
justify-content: end;
text-align: right;}

section{color: #f7f7fb;
background-color: #0b0a12}